header img{
    text-align: center;
}

header nav{
    flex: 1 1 50%;	
	padding: 2%;
    margin: 0 auto;
    width: 85%;	
    text-align: center;
    background-color: rgb(14, 207, 237);
    color: blueviolet;
    font-size: 20pt;
    border-radius: 10pt;
}

body{
    background-color: yellow;
}