*{
	box-sizing: border-box;
    font-family: 'Stick-Regular','Courier New', Courier, monospace;
}


header{
    text-align: center;
}

nav ul{
    flex: 1 1 50%;	
    margin: 0 auto;
    width: 100%;	
    height: 56px;
    text-align: center;
    background-color: rgb(14, 207, 237);
    font-size: 20pt;
    border-radius: 10pt;
    list-style-type: none;
    margin-top: -4px;		
	display: flex;
    padding-inline-start: 0%;
}

nav li{	
	font-size: 16pt;
	text-align: center;	
	flex: 1 1 25%;		
	padding-top: 12px;		
}

nav li a{
	text-decoration: none;
    color: blueviolet;
}

body{
    background-color: yellow;
}

#contenido main{
    margin: 0 auto;
    width: 85%;
	flex: 1 1 100%;
	padding: 2%;
	background-color: white;
    border-radius: 10pt;
}

#contenido {
    display: flex;
    flex: 1;
}

#contenido aside {
    flex: 1;
    text-align: center;
    padding-top: 2%;
    line-height: 100pt;
    background-color: rgb(233, 19, 19);
}

footer{
    border: solid 4px rgb(0, 221, 255);
	display: flex;			
	width: 100%;
	height: 120px;
	justify-content: center;
	margin-top: 0.8%;
}	

footer div{
	flex: 1 1 70%;	
	background-color: red;								
}

footer p{
	font-family: 'Stick-Regular','Courier New', Courier, monospace;
	text-align: center;
	font-size: 13px;	
	padding: 1%;	
	color:white;
	margin-block-start: 2px;
	margin-block-end: 2px;					
}

@font-face{
	font-family: "Stick-Regular";
	src: url('../fonts/Stick-Regular.ttf');
}